@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #2e3031;
  font-family: 'JetBrains Mono', monospace;
}

::selection {
  background-color: #131b2e;
  color: #86efac;
}
